<br>
<br>
<br>
<br>
<br>
<br>
<br> 
<footer>
    <div id="container">
        <a href="/" class="logo">Guilherme <span>Fernandes</span></a>
        <p class="text">&copy; Copyright 2023. Todos os direitos reservados</p>
        <ul class="social-media"></ul>
    </div>
</footer>