<header>
    <div>
        <nav id="container">
            <a href="/" class="logo">Guilherme <span>Fernandes</span></a>
            <div class="links">
                <ul>
                    <li>
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/perguntar" class="nav-link">Pergunte Aqui</a>
                    </li>
                </ul>
                <i class="uil uil-moon toggle-btn"></i>
            </div>
        </nav>
    </div>
</header>