<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <main>
        <br>
        <br>
        <br>  
        <br>
        <br>  
        <br>
        <br>
        <br>  
        <br>
        <br> 
        
        <div class="" id="container">
            <hr>
            <h1 class="logo">Ops Parece que houve um erro em nossos servidores por fazor tente mais tarde! :(</h1>
            <br>
            <hr>
        </div>
    </main>



    
    <%- include('./partials/final.ejs')%>
</body>
<%- include('./partials/scripts.ejs')%>